{#
casques (tableau de dictionnaires)
* tableau de "casquecasque"
    * id_casque, nom, type_casque_id, prix
    * option :
        * stock ,
        * nb_avis ,
        * nb_declinaisons
#}
{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les casques</title>
{% endblock %}

{% block body %}
<h3>casque</h3>
<a  class="btn btn-outline-success" href="/admin/casque/add">ajouter un casque</a>
<br><br>
{#{{ casques }}#}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>nom</th><th>id</th><th>type casque (id)</th><th>prix</th><th style="color: green">stock</th>
            <th>nouveaux avis</th><th>nb déclinaisons</th><th>image</th><th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if casques | length >= 1 %}
        {% for ligne in casques %}
           <tr>
                  <td>{{ ligne.nom_casque }}</td>
                  <td>{{ ligne.id_casque }}</td>
                  <td><span style="color: red">{{ ligne.libelle }}</span> ({{ ligne.type_casque_id }})</td>
                  <td>{#{ ligne.prix }#}  {{  "{:,.2f} €".format(ligne.prix_casque) }}</td>
                  <td>
                  {% if ligne.stock is defined %}
                     {% if ligne.stock != None  %}
                        {% if ligne.stock > 0 %}
                            <strong style="color: green">{{ ligne.stock }}</strong>
                            {% if ligne.min_stock is defined  and ligne.min_stock <= 0 %}
                                <span style="color: #fd7e14">(⚠️ déclinaison(s) en rupture)</span>
                            {% endif %}
                        {% else %}
                            <strong class="text-muted">casque momentanément indisponible</strong>
                        {% endif %}
                     {% else %}
                             <strong class="text-muted">déclinaison ND</strong>
                     {% endif %}
                  {% else %}
                      ND
                  {% endif %}
                  </td>
                   <td>
                  {% if ligne.nb_commentaires_nouveaux is defined %}
                     {% if ligne.nb_commentaires_nouveaux > 0 %}
                         <a href="/admin/casque/commentaires?id_casque={{ ligne.id_casque }}"><strong style="color: red">{{ ligne.nb_commentaires_nouveaux }} avis non lu(s) ⚠️ </strong></a>
                     {% else %}
                        <strong class="text-muted"></strong>
                     {% endif %}
                  {% else %}
                      nb_avis ND
                  {% endif %}
                  </td>

                 {# <td>{{ ligne.date_create }} {{ ligne.date_create.strftime('%d-%m-%Y') }} </td> #}
                  <td>
                      {% if ligne.nb_declinaisons is defined %}
                        {{ ligne.nb_declinaisons }}
                      {% else %}
                         decli ND
                      {% endif %}
                  </td>
                  <td>{{ ligne.image }}
                        {%  if ligne.image is not none %}
                            <img style="width:40px;height:40px"  src="{{ url_for('static', filename = 'images/' + ligne['image']) }}"  alt="image  de {{ ligne.nom }}" >
                        {% else %}
                            <img style="width:40px;height:40px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="pas d image" >
                        {% endif %}
                  </td>
                  <td>
                      <a  class="btn btn-outline-danger" href="/admin/casque/delete?id_casque={{ ligne.id_casque }}" onclick="return confirm('Are you sure?')" >supprimer</a>
                      <a  class="btn btn-outline-warning" href="/admin/casque/edit?id_casque={{ ligne.id_casque }}">editer</a>
                      <a  class="btn btn-outline-warning" href="/admin/casque/commentaires?id_casque={{ ligne.id_casque }}">commentaires</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas d'casque
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
