{#  casque_panier  : tableau de dictionnaires
        * dictionnaire : nom quantite prix casque_id [stock]
        *
#}

{% extends "client/layout_client.html" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
        {% include('client/boutique/_panier.html') %}
            <div class="col">
              <h3>Les filtres</h3>
              Casques dont le nom est composé par :<br>
                 {% include('client/boutique/_filtre.html') %}
            </div>
        </div>

        <div class="bg-light p-3">
            <h1>Les Casques</h1>
        </div>

        <div class="row">
                {% for casque in casques  %}
                        <div class="card col-4 mt-4 p-1">
                            <div class="card-body border-dark rounded p-1">
                                <a href="/client/casque/details?id_casque={{ casque.id_casque }}" >
                                <h3 class="card-title">
                                    <span style="color: #0b2e13">{{ casque.nom }}</span><br>
                                    {{ casque.prix }}
                                    €
                                </h3>
                                     {%  if casque.image is not none %}
                                        <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'images_casque/')}}{{ casque.image }}"  alt="image  de {{ casque.nom }}" >
                                    {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ casque.nom }}" >
                                    {% endif %}
                                    <hr>
                                </a>
                                <div class="row">
{# #}                                {% if  casque.stock is defined and casque.stock != None %}
{# #}                                    {% if casque.stock > 0 %}
                                        <form  action="/client/panier/add"  method="post" class="col-5">
                                            <input type="hidden" name="id_casque" value="{{ casque.id_casque }}">
                                            <div class="input-group">
                                            <button class="btn  btn-success"  id="button-addon1">
                                                <i class="fas fa-shopping-cart">Ajouter</i>
                                            </button>
                                            <input type="number" id="input-{{ casque.id_casque }}" step="1" min="0" max="{{ casque.stock }}" class="form-control" value="1" name="quantite"  aria-describedby="button-addon1">
                                            </div>
                                        </form>
{# #}                                    {% endif %}
{# #}                                {% endif %}
                                     <div class="col-2 align-content-end">
                                    {% if casque.liste_envie is defined %}
                                         {%if  casque.liste_envie== 1%}
                                             <a href="/client/envie/add?id_casque={{ casque.id_casque }}" style="text-decoration: none">💛</a>
                                         {% else %}
                                             <a href="/client/envie/add?id_casque={{ casque.id_casque }}" style="text-decoration: none">🤍</a>
                                         {% endif %}
                                    {% endif %}
                                     </div>
                                </div>
                            </div>
                            <div class="card-footer">
                            {% if casque.stock is defined and casque.stock != None %}
                                 {% if casque.stock > 0 %}
                                    <small class="text-muted">Stock restant : {{ casque.stock }}</small>
                                 {% else %}
                                    <small class="text-muted">Casque  momentanément indisponible</small>
                                 {% endif %}
                                {% if casque.nb_declinaison is defined and casque.nb_declinaison != None %}
                                    ({{ casque.nb_declinaison }} d.)
                                {% endif %}
                                <br>
                            {% endif %}
                            {% if casque.nb_notes is defined %}
                                {% if casque.nb_notes > 0 %}
                                 <a  href="/client/casque/details?id_casque={{ casque.id_casque }}" >
                                    <span style="color: #3A7734"> note : {{  "{:,.1f}".format(casque.moy_notes) }}({{ casque.nb_notes }})</span>
                                 </a>
                                {% endif %}
                            {% endif %}
                            {% if casque.nb_avis is defined %}
                                {% if casque.nb_avis > 0 %}
                                 <a href="/client/casque/details?id_casque={{ casque.id_casque }}" >
                                    <span style="color: #3A7734">({{ casque.nb_avis }} avis)</span>
                                 </a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
{#    {{ casques | pprint }}#}
{% endblock %}