{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les types de casque</title>
{% endblock %}

{% block body %}
<h3>Déclinaison et/ou type de casque (catégorie)</h3>
<a class="btn btn-outline-success" href="/admin/type-casque/add">ajouter un type de casque</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
           <th>designation</th> <th>(id_type_casque)</th><th>nombre de casques</th><th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if types_casque | length >= 1 %}
        {% for ligne in types_casque %}
           <tr>
                  <td>{{ ligne.libelle_type_casque }}</td>
                  <td>{{ ligne.id_type_casque }}</td>
                   <td><span style="color: red">{{ ligne.nbr_casques }}</span></td>
                  <td>
                      <a class="btn btn-outline-danger" href="/admin/type-casque/edit?id_type_casque={{ ligne.id_type_casque }}">editer</a>&nbsp;
                      <a class="btn btn-outline-warning" href="/admin/type-casque/delete?id_type_casque={{ ligne.id_type_casque }}">supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de type de casque
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
