<div class="m-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SAE BDD 2024 <span style="color:blue;">Menu Client</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <div class="d-flex">
                            <!-- Authentication Links -->
                            {% if session['role'] %}
                                <span class="navbar-text">
                                    Bonjour {{ session['login'] }}
                                    {% if session['role'] == 'ROLE_admin' %} (role : Admin)
                                    {% elif session['role'] == 'ROLE_client' %} (role : Client) {% endif %}
                                    &nbsp;
                                </span>
                                <a class="btn btn-outline-success" type="button" href="/logout">
                                    Se déconnecter (Logout)
                                </a>
                            {% else %}
                                <a class="btn btn-outline-success" type="button" href="/login">
                                    PB espace client
                                </a>
                            {% endif %}
                        </div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- Menu Commandes -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Commandes</a>
                            <div class="dropdown-menu" aria-labelledby="DropdownCommandes">
                                <a class="dropdown-item" href="/client/casque/show">Faire une commande (Produits/panier)</a>
                            </div>
                        </li>

                        <!-- Menu Mon compte -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Mon compte</a>
                            <div class="dropdown-menu" aria-labelledby="DropdownComptes">
                                <a class="dropdown-item" href="/client/commande/show">Mes commandes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/client/coordonnee/show">Mes coordonnées</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/client/envies/show">Ma liste d'envies - Historique</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- container fluid -->
    </nav>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categorie, message in messages %}
            <div role="alert" class="alert {{ categorie }}">
                Information : <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
