<div class="m-2">
    <nav class="navbar navbar-light bg-light  ">
        <div class="container-fluid ">
            <a class="navbar-brand" href="/">SAE BDD 2024 <span style="color:#ff0000;">Menu Admin</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <div class="d-flex">
                            <!-- Authentication Links -->
                            {% if session['role'] %}
                                <span class="navbar-text">
                                    Bonjour {{ session['login'] }}
                                    {% if session['role'] == 'ROLE_admin' %} (role : Admin)
                                    {% elif session['role'] == 'ROLE_client' %} (role : PB Client) {% endif %}
                                </span>
                                <a class="btn btn-outline-success" type="button" href="/logout">
                                    Se déconnecter (Logout)
                                </a>
                            {% else %}
                                <a class="btn btn-outline-success" type="button" href="/login">
                                    PB espace admin
                                </a>
                            {% endif %}
                        </div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Commandes</a>
                            <div class="dropdown-menu" aria-labelledby="DropdownCommandes">
                                <a class="dropdown-item" href="/admin/commande/show">Gestions des commandes</a>
                            </div>
                        </li>

                        <!-- Menu "Casques" -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Casques</a>
                            <ul class="dropdown-menu" aria-labelledby="DropdownProduits">
                                <li><a class="dropdown-item" href="/admin/casque/show">Gestion des casques</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin/type-casque/show">Gestion des types de casques</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin/dataviz/etat1">Dataviz - Types de casques</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin/dataviz/etat2">Dataviz - Map</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categorie, message in messages %}
            <div role="alert" class="alert {{ categorie }}">
                Information : <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
